body{
    text-align: justify;
    position: relative;
}
.jumbotron-fluid{
    background-image: url("Imagenes/dedo_tecnologico_ecm.jpg");
    background-attachment: fixed;
    overflow: scroll;
    background-size: 85% 68%;
    background-position: top;
    color: white;
    padding: 8%;
    background-repeat: no-repeat;
    background-color: teal;
}

#Menu_Desplegable{
    display:box;
    box-orient:vertical;
    box-pack:center;
    box-align:center;
    margin:0;
    padding:0;
    width: 250px;
    background:#fff;
    border-radius:5px;
    box-shadow:0 1px 3px rgba(0,0,0,.3);
    position: fixed;
    left: 2%;
    bottom: 4%;   
}

#Menu_Desplegable h1{
    font-size:1em;
}

#Menu_Desplegable ul{
    height:0;
    padding:0 15px;
    overflow:hidden;
    transition:height .4s ease-out, padding .4s ease-out;
    display:none;
    margin-left: 10px;
}

#Menu_Desplegable #S1, #Menu_Desplegable #S2, #Menu_Desplegable #S3, #Menu_Desplegable #S4{
    display:block;
    line-height:23px;
    background: linear-gradient(135deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    color:whitesmoke;
    text-decoration:none;
    text-align:center;
    text-shadow:0 1px 0 rgba(255,255,255,.5);
    border-bottom:1px solid #aaa;
}

#S1{
    border-radius:2px 2px 0 0;
}

#S4{
    border-radius:0 0 3px 3px;
}

#Menu_Desplegable a:hover, a:focus {
    opacity:.9;
}

#Menu_Desplegable a:active {
    background:linear-gradient(#ccc, #ddd);
    color:#000;
}

#Menu_Desplegable :target + ul{
    display:block;
    padding:10px 15px;
    border-bottom:1px solid #ccc;
}

#S1:target + ul{
    height:205px;
}
    
#S2:target + ul{
    height:120px;
}

#S3:target + ul{
    height: 165px;
}
    
#S4:target{
    border-radius:0;
}

#S4:target + ul{
    height:160px;
}

.semanas{
    position: relative;
    left: 26%;
}

img{
    border-radius: 15px;
}

img:hover{
    transform: scale(1.3);
    border-radius: 40px;
}

footer{
    bottom: 0;
}